1 
# Deployment archives
*.zip
*.tar.gz
deploy.zip
deploy_vps.zip
processed_ids_*.zip

# Ignore node_modules in backend and microservices if they are not
backend/node_modules
rembg-microservice/venv
rembg-microservice/__pycache__

# Database dumps
*.sql

# Dependencies
node_modules/
